@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@700&family=Teko:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  font-family: 'Teko', sans-serif;
}

a {
  text-decoration: none;
}

p, a, li {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.btn {
  border: 2px solid #E04E26;
  border-radius: 19%;
}

.btn_back {
  background-color: #fff;
  border: 2px solid #E04E26;
  border-radius: 19%;
}

.btn_primary {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 0px 20px;
  -webkit-transition: .7s;
  transition: .7s;
}

.btn_primary:hover {
  background-color: #E04E26;
  color: #fff;
}

.btn_secendary {
  color: #E04E26;
  display: inline-block;
  font-size: 18px;
  padding: 0px 20px;
  -webkit-transition: .7s;
  transition: .7s;
}

.btn_secendary:hover {
  background-color: #E04E26;
  color: #fff;
}

.btn_menu {
  color: #E04E26;
  display: inline-block;
  font-size: 14px;
  padding: 0px 10px;
  margin-left: 20px;
  -webkit-transition: .7s;
  transition: .7s;
}

.btn_menu:hover {
  background-color: #E04E26;
  color: #fff;
}

.highlight {
  color: #E04E26;
}

.section-title h4 {
  font-size: 40px;
  position: relative;
}

.section-title h4::before {
  content: "";
  bottom: 9px;
  left: 0;
  background-color: #000;
  height: 2px;
  width: 84px;
  position: absolute;
}

.section-title h4::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -1px;
  background-color: #E04E26;
  height: 9px;
  width: 10px;
  border-radius: 50%;
}

.section-title p {
  color: #E04E26;
}

.section-title2 {
  color: #fff;
}

.section-title2 h4 {
  font-size: 40px;
  position: relative;
}

.section-title2 h4::before {
  content: "";
  bottom: 9px;
  left: 0;
  background-color: #fff;
  height: 2px;
  width: 84px;
  position: absolute;
}

.section-title2 h4::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -1px;
  background-color: #E04E26;
  height: 9px;
  width: 10px;
  border-radius: 50%;
}

.section-title2 p {
  color: #E04E26;
}

.section-title3 h4 {
  color: #fff;
  font-size: 40px;
  position: relative;
}

.section-title3 h4::before {
  content: "";
  bottom: 9px;
  left: 106px;
  background-color: #fff;
  height: 2px;
  width: 84px;
  position: absolute;
}

.section-title3 h4::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 105px;
  background-color: #E04E26;
  height: 9px;
  width: 10px;
  border-radius: 50%;
}

.section-title3 p {
  color: #E04E26;
}

.section-title4 h4 {
  color: #fff;
  font-size: 40px;
  position: relative;
}

.section-title4 h4::before {
  content: "";
  bottom: 8px;
  left: 477px;
  background-color: #fff;
  height: 2px;
  width: 84px;
  position: absolute;
}

.section-title4 h4::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 473px;
  background-color: #E04E26;
  height: 9px;
  width: 10px;
  border-radius: 50%;
}

.section-title4 p {
  color: #E04E26;
}

.section-title5 h4 {
  color: #000;
  font-size: 40px;
  position: relative;
}

.section-title5 h4::before {
  content: "";
  bottom: 8px;
  left: 477px;
  background-color: #000;
  height: 2px;
  width: 84px;
  position: absolute;
}

.section-title5 h4::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 473px;
  background-color: #E04E26;
  height: 9px;
  width: 10px;
  border-radius: 50%;
}

.section-title5 p {
  color: #E04E26;
}

.header-area .logo a h4 {
  color: #fff;
  font-size: 40px;
}

.header-area .logo a h4 span {
  font-size: 65px;
}

.header-area .menu ul li {
  display: inline-block;
}

.header-area .menu ul li:current {
  background-color: #fff;
  color: #E04E26;
}

.header-area .menu ul li a {
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 0px 20px;
  -webkit-transition: .7s;
  transition: .7s;
}

.header-area .menu ul li a:hover {
  background-color: #fff;
  color: #E04E26;
}

.header-area .header-content {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}

.header-area .header-content h4 {
  color: #fff;
  font-size: 50px;
}

.header-area .header-content p {
  color: #fff;
  font-size: 15px;
  padding-bottom: 18px;
}

.about-details {
  text-align: justify;
}

.about-details p {
  color: #333;
}

.gallery .gallery_p p {
  color: #333;
  position: relative;
}

.gallery .gallery_p p::before {
  content: "";
  position: absolute;
  background-color: #E04E26;
  top: 0;
  left: -18px;
  height: 72px;
  width: 2px;
}

.gallery .gallery_p p::after {
  content: "";
  position: absolute;
  height: 62px;
  width: 2px;
  background-color: #000;
  top: 6px;
  left: -11px;
}

.gallery .gallery_img {
  margin-left: 120px;
}

.gallery .gallery_img img {
  width: 13%;
  margin-left: -35px;
  -webkit-box-shadow: -9px 0px 3px #333;
          box-shadow: -9px 0px 3px #333;
  border: 2px solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.gallery .gallery_img img:hover {
  margin-left: -04px;
}

.gallery .gallery_img:last-child {
  padding-left: 0;
}

.service {
  height: 700px;
}

.service .back {
  text-align: justify;
  background-color: #fff;
}

.service .back h4 {
  font-size: 30px;
  letter-spacing: 2px;
}

.service .back i {
  font-size: 18px;
  color: #fff;
  background-color: #E04E26;
  padding: 7px;
  border-radius: 50%;
}

.service .back p {
  padding: 13px;
}

.service .clr {
  background-color: #FD7A41;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 2px 3px 2px 1px;
          box-shadow: 2px 3px 2px 1px;
}

.discount {
  background-color: #E04E26;
  color: #fff;
}

.discount h4 {
  font-size: 28px;
  word-spacing: 10px;
  font-style: italic;
}

.discount p {
  font-size: 15px;
}

.form input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 530px;
  margin-top: 20px;
  border: 2px solid #E04E26;
  padding-left: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #3334;
}

.form select {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 500px;
  margin-top: 20px;
  border: 2px solid #E04E26;
  padding-left: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #3334;
}

.form textarea {
  padding-top: 12px;
  padding-bottom: 50px;
  padding-right: 418px;
  margin-top: 20px;
  border: 2px solid #E04E26;
  padding-left: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: #3334;
}

.reviews {
  height: 623px;
}

.reviews .client_img {
  position: relative;
}

.reviews .client_img .pic3, .reviews .client_img .pic2, .reviews .client_img .pic1, .reviews .client_img .pic5, .reviews .client_img .pic6, .reviews .client_img .pic8, .reviews .client_img .pic2_c, .reviews .client_img .pic8_c, .reviews .client_img .pic3_c, .reviews .client_img .pic6_c {
  width: 90px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid gainsboro;
}

.reviews .client_img .pic3 {
  top: 0;
}

.reviews .client_img .pic5 {
  top: 110px;
  left: 230px;
}

.reviews .client_img .pic6 {
  top: 230px;
}

.reviews .client_img .pic1 {
  top: 0px;
  left: 233px;
}

.reviews .client_img .pic2 {
  top: 110px;
}

.reviews .client_img .pic8 {
  left: 233px;
  top: 230px;
}

.reviews .client_img .pic2_c {
  top: -120px;
  left: 195px;
}

.reviews .client_img .pic8_c {
  bottom: -65px;
  right: 20px;
}

.reviews .client_img .pic3_c {
  top: -120px;
  left: 40px;
}

.reviews .client_img .pic6_c {
  bottom: -65px;
}

.reviews .single-reviews {
  padding: 75px;
  font-style: italic;
}

.reviews .single-reviews h4 {
  font-size: 32px;
}

.reviews .single-reviews i {
  color: #E04E26;
  padding: 2px;
}

.reviews .single-reviews p {
  color: #333;
}

.reviews .client_review {
  background-color: #fff;
}

.reviews .client_review .owl-dots {
  position: absolute;
  bottom: 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews .client_review .owl-dots button {
  height: 10px;
  width: 10px;
  background-color: #E04E26 !important;
  margin: 0px 5px;
}

.reviews .client_review .owl-dots button.active {
  background-color: #333 !important;
}

.reviews img {
  -webkit-transition: .7s;
  transition: .7s;
}

.reviews img:hover {
  background-color: azure;
}

.contact {
  position: relative;
  height: 60%;
}

.contact iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contact .contact_details {
  position: absolute;
  top: 40px;
  left: 65%;
  right: 25px;
  padding: 33px 0px;
  background-color: #E04E26;
  -webkit-box-shadow: 9px 7px 9px;
          box-shadow: 9px 7px 9px;
}

.contact .contact_details i {
  font-size: 30px;
  padding-bottom: 10px;
  color: #fff;
  padding-left: 15px;
}

.contact .contact_details p {
  color: #fff;
  font-size: 18px;
}

.menu-area {
  height: 800px;
}

.menu-area .menu-items {
  background-color: #fff;
  border: 2px solid #E04E26;
  padding: 6px;
  border-radius: 6px;
  overflow: hidden;
}

.menu-area .menu-items:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-area .menu-items h4 {
  padding: 10px 0px;
  font-size: 24px;
}

.menu-area .menu-items img {
  -webkit-transition: .3s;
  transition: .3s;
}

.footer.pt-50 {
  background-color: #E04E26;
  color: #fff;
}

.footer.pt-50 h4 {
  font-size: 25px;
}

.footer.pt-50 .pd-bottom {
  padding-bottom: 30px;
}

.footer.pt-50 p {
  font-size: 15px;
  padding: 5px;
}

.footer.pt-50 a {
  color: #fff;
}

.footer.pt-50 .list li {
  text-align: left;
  padding: 4px 42px;
}

.footer.pt-50 .list li i {
  padding-right: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer.pt-50 .list li i:hover {
  padding-right: 5px;
}

.footer.pt-50 .padding {
  padding: 6px 98px;
  text-align: justify;
}

.footer.pt-50 .footer_logo {
  position: relative;
}

.footer.pt-50 .footer_logo::before {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 2px;
  width: 22%;
  top: -21px;
  left: 520px;
}

.footer.pt-50 .footer_logo::after {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 513px;
  top: -26px;
  background-color: #fff;
  border-radius: 50%;
}

.footer.pt-50 .footer_logo a {
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */