.gallery{
    .gallery_p{
        p{
            color: #333;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-color: #E04E26;
                top: 0;
                left: -18px;
                height: 72px;
                width: 2px;
            }
            &::after {
                content: "";
                position: absolute;
                height: 62px;
                width: 2px;
                background-color: #000;
                top: 6px;
                left: -11px;
            }
        }
    }
    .gallery_img{
        img{
            width: 12%;
            margin-left: -11px;
            box-shadow: -9px 0px 3px #333;
            border: 2px solid #fff;
        }
        &:last-child{
            padding-left: 0;
        }
    }
}