.menu{
   background-attachment: fixed;
    .single-menu{
        background-color: #fff;
        padding: 5px;
        h5 {
            font-size: 20px;
            padding-top: 8px;
            letter-spacing: 2px;
        }
        p {
            color: #E04E26;
        }
    }
} 