.menu-area{
   height: 800px;
   .menu-items {
        background-color: #fff;
        border: 1px solid #333;
        h4{
            padding: 10px 0px;
            font-size: 24px;
        }
    }
} 