.discount{
    background-color: #E04E26;
    color: #fff;
    h4 {
        font-size: 28px;
        word-spacing: 10px;
        font-style: italic;
    }
    p{
        font-size: 15px;
    }
}
.form{
    input{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 530px;
        margin-top: 20px;
        border: 2px solid #E04E26;
        padding-left: 15px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: #3334;
    }
    select{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 500px;
        margin-top: 20px;
        border: 2px solid #E04E26;
        padding-left: 15px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: #3334;
    }
    textarea {
        padding-top: 12px;
        padding-bottom: 50px;
        padding-right: 418px;
        margin-top: 20px;
        border: 2px solid #E04E26;
        padding-left: 15px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background-color: #3334;
    }
   
}