@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&family=Teko:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.container{
    width:1170px;
    margin:0 auto;
  }
  .container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .col-1{
    width: 8.33%;
  }
  .col-2{
    width:16.67%;
  }
  .col-3{
    width:25%;
  }
  .col-4{
    width:33.33%
  }
  .col-5{
    width:41.67%
  }
  .col-6{
    width:50%
  }
  .col-7{
    width:58.33%
  }
  .col-8{
    width:66.67%
  }
  .col-9{
    width:75%
  }
  .col-10{
    width:83.33%
  }
  .col-11{
    width:91.67%
  }
  .col-12{
    width:100%
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding: 0 15px;
  }
h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
    font-family: 'Teko', sans-serif;
}
a{
    text-decoration: none;
}
p,a,li{
    text-transform: capitalize;
    font-family: 'Padauk', sans-serif;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.align-center{
    align-items: center !important;
}
.bg{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.6;
        z-index: -1;
        height: 100%;
        width: 100%;
    }
}
.btn{
    border: 2px solid #E04E26;
    border-radius: 19%;
} 
.btn_back{
    background-color: #fff;
    border: 2px solid #E04E26;
    border-radius: 19%;
} 
.btn_primary{
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 0px 20px;
    transition: .7s;
    &:hover{
        background-color: #E04E26;
        color: #fff;
    }
}
.btn_secendary{
    color: #E04E26;
    display: inline-block;
    font-size: 18px;
    padding: 0px 20px;
    transition: .7s;
    &:hover{
        background-color: #E04E26;
        color: #fff;
    }
}
.btn_menu{
    color: #E04E26;
    display: inline-block;
    font-size: 14px;
    padding: 0px 10px;
    margin-left: 20px;
    transition: .7s;
    &:hover{
        background-color: #E04E26;
        color: #fff;
    }
}
.highlight{
    color: #E04E26;
}
.section-title{
    h4{
        font-size: 40px;
        position: relative;
        &::before {
            content: "";
            bottom: 9px;
            left: 0;
            background-color: #000;
            height: 2px;
            width: 84px;
            position: absolute;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 6px;
            left: -1px;
            background-color: #E04E26;
            height: 9px;
            width: 10px;
            border-radius: 50%;
        }
    }
    p{
        color: #E04E26;
    } 
}
.section-title2{
    color: #fff;
    h4{
        font-size: 40px;
        position: relative;
        &::before {
            content: "";
            bottom: 9px;
            left: 0;
            background-color: #fff;
            height: 2px;
            width: 84px;
            position: absolute;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 6px;
            left: -1px;
            background-color: #E04E26;
            height: 9px;
            width: 10px;
            border-radius: 50%;
        }  
    }
    p{
        color: #E04E26;
    } 
}
.section-title3{
    h4{
        color: #fff;
        font-size: 40px;
        position: relative;
        &::before {
            content: "";
            bottom: 9px;
            left: 106px;
            background-color: #fff;
            height: 2px;
            width: 84px;
            position: absolute;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 6px;
            left: 105px;
            background-color: #E04E26;
            height: 9px;
            width: 10px;
            border-radius: 50%;
        }
    }
    p{
        color: #E04E26;
    } 
}
.section-title4{
    h4{
        color: #fff;
        font-size: 40px;
        position: relative;
        &::before {
            content: "";
            bottom: 8px;
            left: 477px;
            background-color: #fff;
            height: 2px;
            width: 84px;
            position: absolute;
        }
        &::after {
            content: "";
            position: absolute;
            top: 43px;
            left: 473px;
            background-color: #E04E26;
            height: 9px;
            width: 10px;
            border-radius: 50%;
        }
    }
    p{
        color: #E04E26;
    } 
}
.section-title5{
    h4{
        color: #000;
        font-size: 40px;
        position: relative;
        &::before {
            content: "";
            bottom: 8px;
            left: 477px;
            background-color: #000;
            height: 2px;
            width: 84px;
            position: absolute;
        }
        &::after {
            content: "";
            position: absolute;
            top: 43px;
            left: 473px;
            background-color: #E04E26;
            height: 9px;
            width: 10px;
            border-radius: 50%;
        }
    }
    p{
        color: #E04E26;
    } 
}